# Intro to TF-IDF and Document Comparisons

In [2]:

import itertools
import math
import numpy as np
import nltk
import string

import nlp_utilities as mytools  # this is our files of utilities

## Reading Multiple Files -- Setup

Before we move on to document comparisons, we need to be able to read in multiple files.  Use the new utility we introduced.

In [5]:
mytools.get_filenames("data/movie_reviews/positive/")

['data/movie_reviews/positive/cv670_tok-24009.txt',
 'data/movie_reviews/positive/cv671_tok-10077.txt',
 'data/movie_reviews/positive/cv672_tok-12350.txt',
 'data/movie_reviews/positive/cv673_tok-6552.txt',
 'data/movie_reviews/positive/cv674_tok-11591.txt',
 'data/movie_reviews/positive/cv675_tok-11864.txt',
 'data/movie_reviews/positive/cv676_tok-19999.txt',
 'data/movie_reviews/positive/cv677_tok-11867.txt',
 'data/movie_reviews/positive/cv678_tok-24352.txt',
 'data/movie_reviews/positive/cv679_tok-13972.txt',
 'data/movie_reviews/positive/cv680_tok-18142.txt',
 'data/movie_reviews/positive/cv681_tok-28559.txt',
 'data/movie_reviews/positive/cv682_tok-21593.txt',
 'data/movie_reviews/positive/cv683_tok-12295.txt',
 'data/movie_reviews/positive/cv684_tok-10367.txt',
 'data/movie_reviews/positive/cv685_tok-11187.txt',
 'data/movie_reviews/positive/cv686_tok-22284.txt',
 'data/movie_reviews/positive/cv687_tok-20347.txt',
 'data/movie_reviews/positive/cv688_tok-10047.txt',
 'data/movie_reviews/positive/cv689_tok-8825.txt',
 'data/movie_reviews/positive/cv690_tok-23617.txt',
 'data/movie_reviews/positive/cv691_tok-11491.txt',
 'data/movie_reviews/positive/cv692_tok-24295.txt',
 'data/movie_reviews/positive/cv693_tok-16307.txt',
 'data/movie_reviews/positive/cv694_tok-18628.txt',
 'data/movie_reviews/positive/cv695_tok-12873.txt',
 'data/movie_reviews/positive/cv696_tok-10835.txt',
 'data/movie_reviews/positive/cv697_tok-29325.txt',
 'data/movie_reviews/positive/cv698_tok-27735.txt',
 'data/movie_reviews/positive/cv699_tok-10425.txt']

In [6]:
filenames = mytools.get_filenames("data/movie_reviews/positive/")

## TF-IDF (Term Frequency, Inverse Document Frequency)

Most analysis of documents for text mining and machine learning do not consider the order of words important. (The possible exceptions are sentiment analysis over "time" and parsing that analyses the tree structure of sentences for parts of speech and entity identification.)  Analysis of words in texts, using just the tokens, not the order, are called **"bag-of-words"** analyses.

Some definitions for a smarter word-counting approach, using collections of texts:


**Term Frequency**: Number of appearances of a word in a document (the token counts we saw already), usually as a percentage of the words

**Document Frequency**: Number of documents that contain a word in a set of docs

**TF-IDF** is **Term Frequency / Document Frequency**, with some extra fiddles.

Example from [Manning, Raghavan, and Schuetze](http://nlp.stanford.edu/IR-book/html/htmledition/inverse-document-frequency-1.html) showing IDF of a rare term is high, in a corpus with those document frequencies for those terms:


<img src="assets/doc_freq.png">


TF-IDF for a word and document is usually calculated as:

**(Word t's frequency in the doc) * Log( Number of Docs / Number of docs that contain the word t)**

However, it is usually done with a + 1 term or two.  You can consider tf-idf an information measure for document words (or "features") in a bag-of-words style analysis, where the order of the words doesn't matter, just the set of words. It is a **"weight"** for a word. Some features of TF-IDF:

* If a term is very frequent in the whole document set (or corpus), it's less interesting overall and that word gets a low TF-IDF. Note this tends to suppress stopwords for you!  Stopwords are common in all texts, so they will have low scores. However, you need a lot of documents for this to work well. 
* Beware of effects of TF-IDF on small numbers of documents, it may not work as you would hope.
* A term (or token) that is frequent in a few documents, but not in a lot, has a higher score. That word helps "distinguish" or characterize (or describe) those documents.

See the discussion in [Manning, Raghavan, and Schuetze](http://nlp.stanford.edu/IR-book/html/htmledition/term-frequency-and-weighting-1.html), and even [more math in Wikipedia](http://en.wikipedia.org/wiki/Tf%E2%80%93idf). 

**You can always check to see if the implementation you use cleans stopwords or not and decide if you like that.**

Some more python references:
* [Demo using TextBlob, another lib](http://stevenloria.com/finding-important-words-in-a-document-using-tf-idf/)
* [A version written on top of NLTK](https://github.com/yebrahim/TF-IDF-Generator)
* [TF-IDF in gensim](http://radimrehurek.com/gensim/tutorial.html)
* [TF-IDF in scikit-learn](http://scikit-learn.org/stable/modules/feature_extraction.html)

In [7]:
# code example from Building Machine Learning Systems with Python (Richert & Coelho) 
# - modified slightly by Lynn

import math

def tfidf(t, d, D):
    # term freq is the count of term as percent of the doc's words
    # d.count counts how many times t occurs in d.
    tf = float(d.count(t)) / len(d) 
    # Note this version doesn't use +1 in denominator as many do.
    idf = math.log( float(len(D)) / (len([doc for doc in D if t in doc])))
    return tf * idf

In [8]:
# How this works - if d is a document of tokens:
d = ["a", "b", "c"]
d.count("b")

1

Here's a simple example with letters instead of words as our tokens.

In [9]:

doc_a = ["a"]
doc_abb = ["a", "b", "b"]
doc_abc = ["a", "b", "c"]
# D is the collection of "documents"
D = [doc_a, doc_abb, doc_abc]

print("a in doc_a", tfidf("a", doc_a, D))   # a is in all of them
print("a in doc_abc", tfidf("a", doc_abc, D)) # a is in all of them
print("b in doc_abc", tfidf("b", doc_abc, D)) # b occurs only once here, but in 2 docs
print("b in doc_abb", tfidf("b", doc_abb, D)) # b occurs more frequently in this doc
print("c in doc_abc", tfidf("c", doc_abc, D)) # c is unique in the doc set

a in doc_a 0.0
a in doc_abc 0.0
b in doc_abc 0.13515503603605478
b in doc_abb 0.27031007207210955
c in doc_abc 0.3662040962227032

Here's an example using the same code, but fake tweets.

In [10]:
doc_a = nltk.word_tokenize("This tweet is about a cute kitten.")
doc_b = nltk.word_tokenize("This tweet is about Donald Trump.")
doc_c = nltk.word_tokenize("This tweet is John Oliver talking about Trump.")
doc_d = nltk.word_tokenize("Donald Trump said something shocking in a tweet.")

In [11]:
D = [doc_a, doc_b, doc_c, doc_d]

In [12]:
D

[['This', 'tweet', 'is', 'about', 'a', 'cute', 'kitten', '.'],
 ['This', 'tweet', 'is', 'about', 'Donald', 'Trump', '.'],
 ['This', 'tweet', 'is', 'John', 'Oliver', 'talking', 'about', 'Trump', '.'],
 ['Donald', 'Trump', 'said', 'something', 'shocking', 'in', 'a', 'tweet', '.']]

In [13]:
doc_a

['This', 'tweet', 'is', 'about', 'a', 'cute', 'kitten', '.']

In [14]:
tfidf("Trump", doc_c, D)

0.03196467471686454

In [15]:
tfidf("Trump", doc_d, D)

0.03196467471686454

In [16]:
tfidf("kitten", doc_a, D)

0.17328679513998632

In [17]:
tfidf("tweet", doc_b, D) # try it in other docs!

0.0

It turns out there is a function in nltk (the main python text library) that will calculate tf-idf for us.  It lives on the TextCollection object. There is also a function in scikit-learn, the machine processing library.  We will use that in a minute.

** Alert:  The functions in NLTK are much slower than in scikit-learn. If you do this on a book, you need to do it with scikit-learn instead. **

In [19]:
# Here are some more functions we can use from NLTK.  

def makeText_from_tokens(tokens):
    return nltk.Text(tokens)

def makeTextCollection(tokenslist):
    # the input is a list of lists - the tokens for each doc read in
    texts = [nltk.Text(doc) for doc in tokenslist]
    collection = nltk.TextCollection(texts)
    # it's useful to return both the list of texts, and the collection object
    return collection, texts

def compute_tfidfs_by_doc(filenames):
    """ Takes a list of filenames, tokenizes, reports a dict with tf-idf scores."""

    from collections import defaultdict  # not the textcollection!
    import nlp_utilities as nlp
    

    alltokens = []  # make a list of lists for the texts
    textslist = nlp.load_texts_as_string(filenames) # returns a dict
    for text in textslist.values():
        # I'm not cleaning them so you can see how tf-idf helps
        alltokens.append(nltk.word_tokenize(text))
    collection, textobjs = makeTextCollection(alltokens)
    
    # this is where we will store our results
    stats = [] # we are going to store data for each word and doc in a list of dictionaries
    
    for i, text in enumerate(textobjs):
        # we use enumerate to give us a counter for the text number we are on.
        for word in text.vocab().keys():  # just use the words in this text.
            # the function tf_idf is a feature of the TextCollection object in nltk.
            tfidfscore = collection.tf_idf(word, text)
            tf = collection.tf(word, text) # is actually count / len(text); or percentage of text
            count = text.count(word) # is the frequency of the word in the doc
            if tfidfscore > 0: # i.e., the word is not in all the docs!
                stats.append({
                    "word": word,
                    "tfidf": tfidfscore,
                    "tf": tf,
                    "count": count,
                    "filename": filenames[i]
                })
    return stats

So... we need to read in a folder of files, tokenize them, and create a TextCollection from them.  Once we have a TextCollection, we can look at TF-IDF for words in the documents.

In [51]:
posfiles = mytools.get_filenames("data/movie_reviews/positive")

In [52]:
len(posfiles)

30

In [53]:
res = compute_tfidfs_by_doc(posfiles)

In [54]:
res[0:10]

[{'count': 3,
  'filename': 'data/movie_reviews/positive/cv670_tok-24009.txt',
  'tf': 0.010033444816053512,
  'tfidf': 0.01614820647927191,
  'word': 'keep'},
 {'count': 1,
  'filename': 'data/movie_reviews/positive/cv670_tok-24009.txt',
  'tf': 0.0033444816053511705,
  'tfidf': 0.006738806088770116,
  'word': 'boys'},
 {'count': 1,
  'filename': 'data/movie_reviews/positive/cv670_tok-24009.txt',
  'tf': 0.0033444816053511705,
  'tfidf': 0.0023182179951837635,
  'word': 'character'},
 {'count': 1,
  'filename': 'data/movie_reviews/positive/cv670_tok-24009.txt',
  'tf': 0.0033444816053511705,
  'tfidf': 0.0023182179951837635,
  'word': 'she'},
 {'count': 2,
  'filename': 'data/movie_reviews/positive/cv670_tok-24009.txt',
  'tf': 0.006688963210702341,
  'tfidf': 0.001492599005446219,
  'word': '``'},
 {'count': 2,
  'filename': 'data/movie_reviews/positive/cv670_tok-24009.txt',
  'tf': 0.006688963210702341,
  'tfidf': 0.0012195421859127397,
  'word': 'not'},
 {'count': 1,
  'filename': 'data/movie_reviews/positive/cv670_tok-24009.txt',
  'tf': 0.0033444816053511705,
  'tfidf': 0.0018996121659061514,
  'word': 'can'},
 {'count': 1,
  'filename': 'data/movie_reviews/positive/cv670_tok-24009.txt',
  'tf': 0.0033444816053511705,
  'tfidf': 0.00011338311597217865,
  'word': ')'},
 {'count': 1,
  'filename': 'data/movie_reviews/positive/cv670_tok-24009.txt',
  'tf': 0.0033444816053511705,
  'tfidf': 0.006738806088770116,
  'word': 'often'},
 {'count': 1,
  'filename': 'data/movie_reviews/positive/cv670_tok-24009.txt',
  'tf': 0.0033444816053511705,
  'tfidf': 0.0030645174979068734,
  'word': 'now'}]

### Pandas makes it much easier to deal with this data quickly

In [18]:
import pandas as pd

We can load dictionaries into a dataframe easily.

In [55]:
data = pd.DataFrame.from_dict(res)

In [56]:
data.head()

,count,filename,tf,tfidf,word
0,3,data/movie_reviews/positive/cv670_tok-24009.txt,0.010033,0.016148,keep
1,1,data/movie_reviews/positive/cv670_tok-24009.txt,0.003344,0.006739,boys
2,1,data/movie_reviews/positive/cv670_tok-24009.txt,0.003344,0.002318,character
3,1,data/movie_reviews/positive/cv670_tok-24009.txt,0.003344,0.002318,she
4,2,data/movie_reviews/positive/cv670_tok-24009.txt,0.006689,0.001493,``

In [57]:
# filename is in every row - each word has it's own row and score.
byfile = data.groupby("filename")

### Now let's sort each subset by different values and see what we got

In [58]:
for group, rows in byfile:
    print(group)
    print(rows.sort_values(by="count", ascending=False).head(5)[["word", "count"]])

data/movie_reviews/positive/cv670_tok-24009.txt
      word  count
110  movie      7
104   they      7
40     you      6
29       !      6
73    this      6
data/movie_reviews/positive/cv671_tok-10077.txt
        word  count
143  douglas     10
311       he      9
186       ``      6
227      has      6
205     this      6
data/movie_reviews/positive/cv672_tok-12350.txt
        word  count
399       ``      6
479        i      6
545  hunting      5
366     film      4
454     more      4
data/movie_reviews/positive/cv673_tok-6552.txt
    word  count
791    (     12
676    )     12
593   on      9
601  for      7
788  are      5
data/movie_reviews/positive/cv674_tok-11591.txt
     word  count
1119  rob     13
1116   at     11
1147   he     11
1121  his     10
1162  you      8
data/movie_reviews/positive/cv675_tok-11864.txt
      word  count
1240    ``     39
1507    as     15
1211  film     12
1427    by     11
1451   was     11
data/movie_reviews/positive/cv676_tok-19999.txt
           word  count
1760  frequency      8
1745       this      6
1909        you      6
1684         ``      6
1711          :      6
data/movie_reviews/positive/cv677_tok-11867.txt
     word  count
1990   ``     26
2016  her     14
2272  she     12
2301    i     10
2140    ;      9
data/movie_reviews/positive/cv678_tok-24352.txt
          word  count
2438        ``     26
2419  jackie-o     11
2531       her     10
2620     lesly     10
2571     marty     10
data/movie_reviews/positive/cv679_tok-13972.txt
            word  count
2860          ``     28
2915          --     13
2949           i      8
2822          on      6
2887  eraserhead      6
data/movie_reviews/positive/cv680_tok-18142.txt
      word  count
3121  chow      7
3103   for      6
3223    as      6
3295   all      5
3153   who      5
data/movie_reviews/positive/cv681_tok-28559.txt
      word  count
3466     i      7
3365  film      6
3373   for      5
3439  most      4
3416  tbwp      4
data/movie_reviews/positive/cv682_tok-21593.txt
          word  count
3581        on      8
3666    murphy      7
3765  lawrence      5
3683        as      5
3590       for      5
data/movie_reviews/positive/cv683_tok-12295.txt
      word  count
3874    ``     40
4104    he     25
4219   his     14
4150  dude     11
4186    as     11
data/movie_reviews/positive/cv684_tok-10367.txt
       word  count
4788      (     17
4576      )     17
4315  dogma     12
4727    his     10
4569  smith      9
data/movie_reviews/positive/cv685_tok-11187.txt
           word  count
4926         --     40
4822     jackie     14
4993       film     13
5203         as     12
4950  tarantino     11
data/movie_reviews/positive/cv686_tok-22284.txt
         word  count
5620      lee     11
5494     arts     10
5655  martial     10
5524       by      9
5677     they      8
data/movie_reviews/positive/cv687_tok-20347.txt
      word  count
6010    as     17
5759    ``     14
5942   for     11
5726  film     11
5962   are     10
data/movie_reviews/positive/cv688_tok-10047.txt
       word  count
6390      (     13
6235      )     13
6248     as     11
6172     ``      8
6151  bacon      6
data/movie_reviews/positive/cv689_tok-8825.txt
              word  count
6646         alien     14
6413        ripley      8
6503           her      7
6573             )      7
6707  resurrection      6
data/movie_reviews/positive/cv690_tok-23617.txt
         word  count
6782       ``     20
6816       by      7
6764     will      6
6770    damon      6
6904  hunting      6
data/movie_reviews/positive/cv691_tok-11491.txt
           word  count
7216  louisiana     11
7025         as      7
6962        for      6
7102        but      5
7199         on      5
data/movie_reviews/positive/cv692_tok-24295.txt
       word  count
7284     ``     16
7258  grady     13
7361   just     11
7454     by     10
7464    not     10
data/movie_reviews/positive/cv693_tok-16307.txt
        word  count
7848     his     10
7888      he     10
7781    this      7
7725     for      6
7737  dinner      6
data/movie_reviews/positive/cv694_tok-18628.txt
       word  count
8079    his     13
8151      (      8
7987  tribe      8
8033      )      8
8041     as      7
data/movie_reviews/positive/cv695_tok-12873.txt
      word  count
8455    ``     14
8400  this     14
8503     (     13
8234     )     13
8194     i     12
data/movie_reviews/positive/cv696_tok-10835.txt
        word  count
8561      ``      6
8583    this      6
8617      as      6
8527    film      5
8508  gibson      5
data/movie_reviews/positive/cv697_tok-29325.txt
         word  count
8758  niagara      8
8800        )      7
8880        (      6
8798      not      5
8833      her      5
data/movie_reviews/positive/cv698_tok-27735.txt
        word  count
8994       :      8
8908  jackie      8
9012       )      7
8897    like      7
9143       (      7
data/movie_reviews/positive/cv699_tok-10425.txt
      word  count
9246    as      9
9270   all      6
9408   you      5
9196    an      5
9177  film      5

In [59]:
for group, rows in byfile:
    print(group)
    print(rows.sort_values(by="tfidf", ascending=False).head(5)[["word", "tfidf"]])

data/movie_reviews/positive/cv670_tok-24009.txt
          word     tfidf
78    butthead  0.045501
99      beavis  0.045501
21   searching  0.022750
100         tv  0.020216
26       wants  0.020216
data/movie_reviews/positive/cv671_tok-10077.txt
           word     tfidf
143     douglas  0.049201
168   detective  0.028932
150        kirk  0.021803
207       cases  0.014760
250  connection  0.014535
data/movie_reviews/positive/cv672_tok-12350.txt
         word     tfidf
545   hunting  0.029119
492     damon  0.019807
459  smartest  0.014629
525   titanic  0.014629
544  williams  0.010383
data/movie_reviews/positive/cv673_tok-6552.txt
        word     tfidf
656    carry  0.034217
625  caravan  0.027374
616    carol  0.020530
587  kenneth  0.020530
577     anna  0.020530
data/movie_reviews/positive/cv674_tok-11591.txt
          word     tfidf
1119       rob  0.052638
916   fidelity  0.028343
797     cusack  0.020245
1023    frears  0.016196
833       high  0.014931
data/movie_reviews/positive/cv675_tok-11864.txt
        word     tfidf
1382  virgil  0.030442
1543     amy  0.019831
1186   sight  0.016862
1465  kilmer  0.013837
1229   irwin  0.011070
data/movie_reviews/positive/cv676_tok-19999.txt
           word     tfidf
1760  frequency  0.046433
1818   emmerich  0.017412
1861     hoblit  0.017412
1756     father  0.015717
1884     looked  0.013864
data/movie_reviews/positive/cv677_tok-11867.txt
            word     tfidf
2248        erin  0.021414
2088  brockovich  0.017845
2140           ;  0.012482
2344  soderbergh  0.010707
2016         her  0.010183
data/movie_reviews/positive/cv678_tok-24352.txt
          word     tfidf
2419  jackie-o  0.040229
2620     lesly  0.036572
2571     marty  0.036572
2511   fiancee  0.018286
2727    pascal  0.014629
data/movie_reviews/positive/cv679_tok-13972.txt
            word     tfidf
2887  eraserhead  0.035064
2915          --  0.022411
3027         via  0.011688
3001       lynch  0.011688
2860          ``  0.010735
data/movie_reviews/positive/cv680_tok-18142.txt
         word     tfidf
3121     chow  0.040978
3335    fuqua  0.017562
3112       hk  0.017562
3294  sorvino  0.013983
3122  killers  0.013983
data/movie_reviews/positive/cv681_tok-28559.txt
       word     tfidf
3416   tbwp  0.034618
3364  smart  0.020508
3514    bit  0.017577
3404  blair  0.017309
3468   ploy  0.017309
data/movie_reviews/positive/cv682_tok-21593.txt
          word     tfidf
3666    murphy  0.045263
3765  lawrence  0.021888
3781     eddie  0.019398
3715    claude  0.019398
3586       ray  0.015445
data/movie_reviews/positive/cv683_tok-12295.txt
          word     tfidf
4150      dude  0.024377
4149  lebowski  0.017729
3945   bowling  0.015513
3889    redman  0.013917
4037    bvoice  0.011133
data/movie_reviews/positive/cv684_tok-10367.txt
          word     tfidf
4315     dogma  0.038834
4569     smith  0.023190
4385   bethany  0.012945
4329      loki  0.009708
4546  bartleby  0.009708
data/movie_reviews/positive/cv685_tok-11187.txt
           word     tfidf
4926         --  0.031158
4822     jackie  0.025028
5117      brown  0.023766
4950  tarantino  0.023128
5306         mr  0.018923
data/movie_reviews/positive/cv686_tok-22284.txt
         word     tfidf
5494     arts  0.031935
5655  martial  0.031935
5620      lee  0.029868
5578   skills  0.012774
5624     kung  0.012033
data/movie_reviews/positive/cv687_tok-20347.txt
            word     tfidf
5754        mile  0.028522
5738       green  0.022709
5861      duncan  0.017826
5778      guards  0.017826
5889  hutchinson  0.014261
data/movie_reviews/positive/cv688_tok-10047.txt
          word     tfidf
6151     bacon  0.033291
6180    dillon  0.022194
6276  campbell  0.016645
6346     trash  0.016645
6129    twists  0.013253
data/movie_reviews/positive/cv689_tok-8825.txt
              word     tfidf
6646         alien  0.067830
6413        ripley  0.038760
6707  resurrection  0.023146
6670        jeunet  0.019380
6595        aliens  0.019380
data/movie_reviews/positive/cv690_tok-23617.txt
         word     tfidf
6904  hunting  0.040419
6770    damon  0.034367
6739  affleck  0.022911
6850      ben  0.020209
6722      gus  0.016921
data/movie_reviews/positive/cv691_tok-11491.txt
              word     tfidf
7216     louisiana  0.061434
7017      southern  0.016755
7147         local  0.011343
6915  southwestern  0.011170
6988       musical  0.011170
data/movie_reviews/positive/cv692_tok-24295.txt
        word     tfidf
7258   grady  0.037662
7501   tripp  0.020280
7639  wonder  0.012014
7328    boys  0.012014
7594   james  0.010967
data/movie_reviews/positive/cv693_tok-16307.txt
         word     tfidf
7728    idiot  0.033675
7737   dinner  0.032175
7738   pierre  0.026940
7762   french  0.020205
7879  matches  0.013470
data/movie_reviews/positive/cv694_tok-18628.txt
             word     tfidf
7987        tribe  0.054419
7953  krippendorf  0.040814
7957  shelmikedmu  0.027210
8114         kids  0.016248
7963    professor  0.013816
data/movie_reviews/positive/cv695_tok-12873.txt
      word     tfidf
8344  yeah  0.015000
8463  hood  0.011250
8375  grow  0.011250
8466  7/10  0.008957
8245  your  0.008744
data/movie_reviews/positive/cv696_tok-10835.txt
         word     tfidf
8508   gibson  0.029295
8556      tom  0.023436
8574   ransom  0.020672
8634   sinise  0.020672
8705  forrest  0.017309
data/movie_reviews/positive/cv697_tok-29325.txt
         word     tfidf
8758  niagara  0.086106
8753   tunney  0.043053
8791    marcy  0.043053
8817   causes  0.017140
8726   thomas  0.017140
data/movie_reviews/positive/cv698_tok-27735.txt
          word     tfidf
8908    jackie  0.033012
9118      hung  0.018286
8995  henchmen  0.012191
8943     fight  0.012191
9100     scene  0.009844
data/movie_reviews/positive/cv699_tok-10425.txt
          word     tfidf
9193     music  0.012067
9306  watching  0.011456
9231   hendrix  0.011281
9172     bands  0.011281
9167    joplin  0.011281

For the most part, few stop words appear in the top TF-IDF scoring words, although there are some junk characters. Mainly we see the words that seem to be the most important distinguishing words for each document, such as movie name or job location (depending on the dataset we look at).  We did not clean the tokens at all!
How would we clean the tokens too?

### Using TF-IDF in Scikit-learn:  Use this one for any big documents or large collection of docs.

https://buhrmann.github.io/tfidf-analysis.html

In [4]:
posfiles = mytools.get_filenames("data/movie_reviews/positive")
texts = mytools.load_texts_as_string(posfiles)

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer(max_df=0.8, min_df=0.2, tokenizer=mytools.tokenize_clean)

# this applies the vectorizer we defined to the texts!
tfidf_matrix = tfidf_vectorizer.fit_transform(texts.values()) #fit the vectorizer to texts

print(tfidf_matrix.shape) # this is the size of the array of features, rows and columns.

(30, 183)

In [19]:
tfidf_matrix[0]

<1x183 sparse matrix of type '<class 'numpy.float64'>'
	with 65 stored elements in Compressed Sparse Row format>

In [28]:
features = tfidf_vectorizer.get_feature_names()   # these are the words in the documents.

In [9]:
features[0:20]

["'m",
 "'re",
 "'ve",
 'acting',
 'action',
 'actor',
 'actors',
 'actually',
 'almost',
 'also',
 'although',
 'another',
 'around',
 'audience',
 'away',
 'back',
 'based',
 'become',
 'begins',
 'best']

In [29]:
# Code from https://buhrmann.github.io/tfidf-analysis.html

def top_tfidf_feats(row, features, top_n=25):
    ''' Get top n tfidf values in row and return them with their corresponding feature names.'''
    import pandas as pd
    topn_ids = np.argsort(row)[::-1][:top_n]
    top_feats = [(features[i], row[i]) for i in topn_ids]
    df = pd.DataFrame(top_feats)
    df.columns = ['feature', 'tfidf']
    return df

def top_feats_in_doc(Xtr, features, row_id, top_n=25):
    ''' Top tfidf features in specific document (matrix row) '''
    row = np.squeeze(Xtr[row_id].toarray())
    return top_tfidf_feats(row, features, top_n)

In [36]:
top_feats_in_doc(tfidf_matrix, features, 4, top_n=10)

   feature     tfidf
0  however  0.391266
1     seem  0.371693
2    james  0.275637
3     soon  0.275637
4    films  0.247795
5   comedy  0.225565
6    seems  0.207058
7     like  0.139136
8    break  0.137818
9     lead  0.137818

In [30]:
## A row in the matrix corresponds to a document.  We can figure out which document by looking 
## back at the texts dictionary.

In [35]:
list(texts.values())[4]

"krippendorf's tribe is a formula comedy . done poorly , formulaic comedies might seem to signify the downfall of american cinema . however , every now and then , one emerges , like krippendorf's tribe , that actually works . professor james krippendorf ( richard dreyfuss ) , the renowned anthropologist , is in trouble . his university gave him a hefty grant to discover a lost tribe in new guinea . however , he found . . . nothing . his wife has recently died , and he has spent the remainder of the grant money in raising his three kids : shelly ( natasha lyonne ) , mickey ( gregory smith ) and edmund ( carl michael lidner ) . tonight , he is expected to lecture on his newfound tribe . rather than break the news ( and face the consequences of misusing his funds ) , he invents a tribe : the shelmikedmu ( named after his kids ) . however , one lie begets another as he is not only required to deliver filmed proof of the shelmikedmu , but his research becomes a popular phenomenon . soon , professor krippendorf is caught up in an elaborate ruse in which he films mockumentary footage starring his children as the shelmikedmu tribal members . his efforts are hampered by the boasts of an over-eager colleague , veronica micelli ( jenna elfman ) , and the intense scrutiny of a rival anthropologist , ruth allen ( lily tomlin ) . krippendorf's tribe does seem to require a little suspension of disbelief . no one seems to question the way his field documentaries seem to be shot with multiple cameras , or that his newly discovered tribesmen have startlingly blue eyes . luckily , as the film builds momentum , that suspension of disbelief is easy to come by . though there's some mild humor in the krippendorf family trying to pass themselves off as a lost tribe , the real humor of the film is in how james gets trapped in his ever increasing snowball of lies . the double meanings to many of the shelmikedmu appearances are enjoyable , and the comic timing required for some of the film's latter scenes is superb . richard dreyfuss is terrific as the hapless professor who soon loses control of his own imaginary tribe . jenna elfman's position as a romantic lead seems a bit forced at times , but she plays the part with extreme affability . even the kids , who in films like this tend to be a bit on the precocious side , are endearing and humorous . yes , the film does veer occasionally into some rather lowbrow humor , but it has the best excuse of all : it's funny . it may not go down as an all-time classic , but it certainly delivers what you expect from a comedy : plenty of laughs . \n"

In [26]:
def top_mean_feats(Xtr, features, grp_ids=None, min_tfidf=0.1, top_n=25):
    ''' Return the top n features that on average are most important amongst documents in rows
        indentified by indices in grp_ids. '''
    if grp_ids:
        D = Xtr[grp_ids].toarray()
    else:
        D = Xtr.toarray()

    D[D < min_tfidf] = 0
    tfidf_means = np.mean(D, axis=0)
    return top_tfidf_feats(tfidf_means, features, top_n)

In [27]:
top_mean_feats(tfidf_matrix, features)

         feature     tfidf
0          movie  0.111948
1            n't  0.107049
2           like  0.064903
3            two  0.053460
4          first  0.050621
5     characters  0.049678
6           time  0.049567
7       williams  0.043302
8   performances  0.043216
9           also  0.041393
10          good  0.040971
11       michael  0.040709
12         films  0.040698
13        little  0.040692
14           way  0.040147
15          show  0.040061
16         james  0.039952
17          life  0.039604
18         would  0.039104
19          much  0.038735
20     character  0.038542
21         music  0.038154
22       however  0.038021
23          wife  0.037828
24        people  0.036045