# Using Pandas With a Remote MySQL Server

#### To Read Review Files and Create Files from Them on Your Computer

In [29]:
import numpy as np
import pandas as pd

You need to "pip install pymysql" at the command line. Open a terminal window (not the one that is running your Jupyter notebook server) and type "pip install pymysql".

In [5]:
import pymysql

In [2]:
server = "analyst-toolbelt.cn119w37trlg.eu-west-1.rds.amazonaws.com"
username = "emlyon1"
password = "student1"

In [3]:
## we have 2 others - emlyon2 and student2, and emlyon3 and student3

###  You can change the name of the Database here from 'prod_reviews' to one you want to use.

In [8]:
connection = pymysql.connect(host=server,
                             user=username,
                             password=password,
                             db='prod_reviews',
                             charset='utf8')

In [9]:
pd.read_sql('SHOW tables', connection)

  Tables_in_prod_reviews
0             automotive
1                 garden
2                  music

In [10]:
SQL = "Select * from garden limit 1000"   # depending on your ability to handle lots of files, you can increase or decrease this. For tweets, use a lot.

In [11]:
garden = pd.read_sql(SQL, connection)

In [31]:
garden.head()

,reviewerID,asin,reviewerName,helpful,helpful_yes,helpful_no,reviewText,overall,summary,fixed_date,unixReviewTime,reviewTime
0,A3S3R88HA0HZG3,B00D2SPZAM,PT Cruiser,"[2, 2]",2,2,This Goal Zero 11800 Nomad 7 Solar Charger is ...,5.0,High quality solar charger for smartphones and...,2013-12-29,1388275200,"12 29, 2013"
1,A9O1Q1QUUVZC9,B00004RAN0,Texaswomyn,"[2, 3]",2,3,Having been unable to create a method of captu...,4.0,a tale of sad success,2009-05-12,1242086400,"05 12, 2009"
2,A2DYMDOAJURO5F,B00GVL015Q,"Aceto ""All Knowledge is Sorrow""","[10, 10]",10,10,This is my favorite of the Perky-Pet Hummingbi...,5.0,Hummer on a Hot Tin Roof,2014-05-01,1398902400,"05 1, 2014"
3,A3BNMHRW2R35LK,B007UII5R0,"S. Peterson ""theswedishchef""","[0, 0]",0,0,We've had a couple of feeders over the years b...,5.0,Sturdy,2013-06-17,1371427200,"06 17, 2013"
4,A15A2KHW0KHJ8D,B000WB13QC,James Archer,"[0, 0]",0,0,I have reviewed a couple of other mouse traps ...,1.0,"these are useless, but hey, they were cheap",2013-06-07,1370563200,"06 7, 2013"

In [13]:
garden.to_csv("garden.csv")

In [27]:
len(garden)

1000

### Create a directory/folder to write your files to. On Windows, you need to do this another way. It should be in the same folder as this notebook.

In [20]:
# see above, won't work on windows. make it manually on windows in the same directory you are working in.
mkdir "garden_files"

###  We can iterate over the rows of the data frame and save the column with the text in it to a file. Make sure you do this into a directory, it will be a lot of files.

In [33]:
for i, row in garden.iterrows():
    # saving into the directory garden_files, using the row number as the name of the file.
    with open("garden_files/file" + str(i) + ".txt", "w", errors="ignore") as handle:
        handle.write(row["reviewText"])

### The problem with this approach is that you don't have the product name/info anywhere. This is just the review text. You might want to keep track of which row is which product if you can. I think the Product is the "asin" field.